/* Bio Seite */
.bio-container {
  max-width: 900px;
  margin: 3rem auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgb(0 0 0 / 0.1);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}
.bio-container img {
  width: 100%;
  max-width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgb(0 0 0 / 0.09);
  align-items: center;
}
.bio-container ul {
  list-style: none;
  padding: 0;
}
.bio-container li {
  margin-bottom: 0.4rem;
}
@media (max-width: 800px) {
  .bio-container {
    flex-direction: column;
    padding: 1.5rem;
  }
}
