/* ---- page styles ---- */
body{
  background: linear-gradient(to right, #ffffff, #757273);
  font-family: 'Roboto', sans-serif;
}

.contact-wrap{
  padding: 15px;
}

h1{
  background-color: white;
  color: #000000; /* lighten(#FF512F, ~10%) */
  padding: 40px;
  margin: 0 0 50px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

h1 small{
  font-size: 18px;
  display: block;
  text-transform: none;
  font-weight: 300;
  margin-top: 10px;
  color: #1d1d1d;
}

/* Bio Seite */
.bio-container {
  max-width: 900px;
  margin: 3rem auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgb(0 0 0 / 0.1);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}
.bio-container ul {
  list-style: none;
  padding: 0;
}
.bio-container li {
  margin-bottom: 0.4rem;
}
@media (max-width: 800px) {
  .bio-container {
    flex-direction: column;
    padding: 1.5rem;
  }
}
.profilbild {
  display: block;         
  margin: 0 auto;          
  max-width: 280px;
  border-radius: 10px;
  height: auto;
}