/* ---- page styles ---- */
body{
  background: linear-gradient(to right, #ffffff, #757273);
  font-family: 'Roboto', sans-serif;
}

.contact-wrap{
  padding: 15px;
}

h1{
  background-color: white;
  color: #000000; /* lighten(#FF512F, ~10%) */
  padding: 40px;
  margin: 0 0 50px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

h1 small{
  font-size: 18px;
  display: block;
  text-transform: none;
  font-weight: 300;
  margin-top: 10px;
  color: #1d1d1d;
}

/* Blog Seite */
