/* ------------------------------
   1. Navigation
------------------------------ */
nav { 
  background: #243b55; 
  color: white; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 0.8rem 1rem; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); 
  position: sticky; top: 0;
  z-index: 1000; 
} 
nav .nav-left img { 
  eight: 40px;
} 
nav ul { 
  list-style: none; 
  display: flex; 
  gap: 1rem;
  margin: 0; 
  align-items: center; 
} 
nav ul li a { 
  color: white; 
  padding: 0.4rem 0.7rem; 
  border-radius: 6px; 
  transition: background-color 0.25s ease;
} 
nav ul li a:hover, nav ul li a:focus, nav ul li a [aria-current="page"] { background-color: #005ea2; } 

nav .login-btn { 
  background-color: #0078d7; 
  border: none; 
  color: white; 
  padding: 0.4rem 1rem; 
  border-radius: 6px; 
  cursor: pointer; 
  font-weight: 600; 
  box-shadow: 0 4px 10px rgba(0, 120, 215, 0.3); 
  transition: background-color 0.25s ease; 
} 
nav .login-btn:hover { 
  background-color: #005ea2; 
}




/* ------------------------------
   ?. Navigation
------------------------------ */