/* import font from google */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900");

/* ---- page styles ---- */
body{
  background: linear-gradient(to right, #FF512F, #DD2476);
  font-family: 'Roboto', sans-serif;
}

.contact-wrap{
  padding: 15px;
}

h1{
  background-color: white;
  color: #ff6a4d; /* lighten(#FF512F, ~10%) */
  padding: 40px;
  margin: 0 0 50px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

h1 small{
  font-size: 18px;
  display: block;
  text-transform: none;
  font-weight: 300;
  margin-top: 10px;
  color: #ff6a4d;
}

/* contact form */
.contact-form{
  margin-top: 30px;
}

.contact-form .input-block{
  background-color: rgba(255,255,255,.8);
  border: solid 1px #FF512F;
  width: 100%;
  min-height: 60px;        /* besser als feste height */
  padding: 25px;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
}

.contact-form .input-block.focus{
  background-color: #fff;
  border: solid 1px #ff2d07; /* darken(#FF512F, ~10%) */
}

.contact-form .input-block.textarea{
  height: auto;
}

.contact-form .input-block.textarea .form-control{
  height: auto;
  resize: none;
}

.contact-form .input-block label{
  position: absolute;
  left: 25px;
  top: 25px;
  display: block;
  margin: 0;
  font-weight: 300;
  z-index: 1;
  color: #333;
  font-size: 18px;
  line-height: 10px;
  transition: all 0.2s ease; /* hilft beim „floating label“ */
}

.contact-form .input-block .form-control{
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  height: auto;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}

/* ❗ Fix: label kann nicht "inside :focus" von input verschachtelt werden.
   Stattdessen: input:focus + label oder input:focus ~ label – je nach HTML-Reihenfolge.
   Standardfall: <input class="form-control" ...><label>..</label>
*/
.contact-form .input-block .form-control:focus + label,
.contact-form .input-block .form-control:not(:placeholder-shown) + label{
  top: 8px;
  font-size: 12px;
  line-height: 12px;
}

/* Falls dein Label VOR dem Input steht (häufiger Bootstrap):
   <label>..</label><input ...>
   dann nutze diese Variante (und die beiden oben kannst du löschen):
*/
.contact-form .input-block:focus-within label{
  top: 8px;
  font-size: 12px;
  line-height: 12px;
}

.contact-form .square-button{
  background-color: rgba(255,255,255,.8);
  color: #ff2d07; /* darken(#FF512F, ~10%) */
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-radius: 2px;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.contact-form .square-button:hover,
.contact-form .square-button:focus{
  background-color: #fff;
}

/* tablet and above devices */
@media (min-width: 768px) { 
  .contact-wrap{
    width: 60%;
    margin: auto;
  }
}

/* follow me template */
.made-with-love{
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}

.made-with-love i{
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}

.made-with-love a{
  color: #fff;
  text-decoration: none;
}

.made-with-love a:hover{
  text-decoration: underline;
}




/* //import font from google
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);

//import compass
@import "compass";

//colors
$primary-color   : #FF512F;
$secondary-color : #333;
$form-bg         : #fff;


//contact form
.contact-form{
    margin-top: 30px;
    .input-block{
        background-color: rgba(white, .8);
        border: solid 1px $primary-color;
        width: 100%;
        height: 60px;
        padding: 25px;
        position: relative;
        margin-bottom: 20px;
        @include transition(all 0.3s ease-out);
        &.focus{
            background-color: $form-bg;
            border: solid 1px darken($primary-color, 10%);
        }
        &.textarea{
            height: auto;
            .form-control{
                height: auto;
                resize: none;
            }
        }
        label{
            position: absolute;
            left: 25px;
            top: 25px;
            display: block;
            margin: 0;
            font-weight: 300;
            z-index: 1;
            color: $secondary-color;
            font-size: 18px;
            line-height: 10px;
        }
        .form-control{
            background-color: transparent;
            padding: 0;
            border: none;
            @include border-radius(0);
            @include box-shadow(none);
            height: auto;
            position: relative;
            z-index: 2;
            font-size: 18px;
            color: $secondary-color;
        }
        .form-control:focus{
            label{
                top: 0;
            }
        }
    }
    .square-button{
        background-color: rgba(white, .8);
        color: darken($primary-color, 10%);
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        @include border-radius(2px);
        @include transition(all 0.3s ease);
        padding: 0 60px;
        height: 60px;
        border: none;
        width: 100%;
        &:hover,
        &:focus{
            background-color: white;
        }
    }
}

//tablet and above devices
@media (min-width: 768px) { 
  .contact-wrap{
    width: 60%;
    margin: auto;
  }
}




//////////////////////////
  /*----page styles---
//////////////////////////
body{
  @include background-image(linear-gradient(to right, $primary-color, #DD2476));
  font-family: 'Roboto', sans-serif;
}
.contact-wrap{
  padding: 15px;
}

h1{
  background-color: white;
  color: lighten($primary-color, 10%);
  padding: 40px;
  margin: 0 0 50px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  small{
    font-size: 18px;
    display: block;
    text-transform: none;
    font-weight: 300;
    margin-top: 10px;
    color: lighten($primary-color, 10%);
  }
}



//follow me template
.made-with-love{
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
  i{
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
  }
  a{
    color: #fff;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
*/
